.header
  .header-root
    = @profile.nicename
  .header-title
    = _('Profile')

.content-wrap

  = form_for current_user, :url => profile_path(current_user), :html => {:class => 'settings'} do |f|
    .settings-title
      = _('Edit profile')
    .settings-field
      = avatar_tag(@profile, {:size => 70})
      = f.label :avatar, current_user.nicename
      = current_user.email
    .settings-field
      = f.label :name, _('Name')
      = f.text_field :name, :required => true
    - if current_account.admin?
      .settings-field
        = f.label :confirmed, _('Beta access')
        = f.check_box :confirmed
        = _('Allow')
    .settings-actions
      = f.button :class => 'button' do
        %span.icon.icon-checkmark
        = _('Save')
