#profile

  %header.header
    %h1
      = _('Your Profile')

  .row
    .large-8.large-offset-2.columns.panel

      .row
        .large-2.columns.align-center


        .large-10.columns
          = form_for current_user, :url => profile_path(current_user), :html => { :class => 'form' } do |f|
            %fieldset
              .field
                = f.label :avatar
                = gravatar_tag(current_user.email, {:class => 'avatar', :size => 34})
              .field
                = f.label :newsletter_allowed, _('Email me news sometimes')
                = f.check_box :newsletter_allowed?
              .field
                = f.label :name, _('Name'), :class => 'right inline'
                = f.text_field :name, :required => true
              .actions
                = f.submit _('Save'), :class => 'button primary'
