#profile
  .row
    .large-4.large-offset-4.columns.end
      %h1
        = _('Your Profile')

  .row
    .large-4.large-offset-4.columns.panel

      .row
        .large-2.columns.align-center
          = gravatar_tag(current_user.email, {:class => 'avatar', :size => 70})

        .large-10.columns
          = form_for current_user,  :url => profile_path(current_user) do |f|
            .row
              .large-2.columns
                = f.label :email, _('Email'), :class => 'right inline'
              .large-10.columns.end
                = f.email_field :email, :required => true

            .row
              .large-2.columns
                = f.label :name, _('Name'), :class => 'right inline'
              .large-10.columns.end
                = f.text_field :name, :required => true

            .row
              .large-10.large-offset-2.columns
                = f.submit _('OK'), :class => 'button primary'
