.wrapper
  = render('tabs')

  - current_user.memberships.each do |membership|

    = form_for membership, :as => :membership, :url => profile_notifications_path(:mine), :html => {:class => 'settings', :id => "membership_#{membership.id}" } do |f|

      = f.hidden_field :id

      .settings-title
        = membership.project.title

      - %w(notify_discussions notify_collaborations notify_boards_topics notify_cards_alignments).each do |type|

        .settings-field.inline
          = f.label type, :for => "membership_#{type}_#{membership.id}"
          = f.select type, Membership::TIMING, {}, {:id => "membership_#{type}_#{membership.id}"}

      .settings-actions
        = f.button :class => 'button btn-small', :id => "membership_submit_#{membership.id}" do
          = _('Save')

