#profile
  .row
    .large-12.columns
      = gravatar_tag(@profile.email, {:class => 'avatar left', :size => 60})
      %h1
        = _('%s profile') % @profile.nicename

      .row
        .large-1.columns
          %p
            = _('Email')
        .large-4.columns.end
          %p
            = @profile.email

      .row
        .large-1.columns
          %p
            = _('Name')
        .large-4.columns.end
          %p
            = @profile.nicename
