#sign-in
  .row
    .large-8.large-offset-2.columns.end
      .panel
        %h3
          = _('Sign in to continue')
        %p.faded
          = _('You can use your AngelList account so we can sync with existing startups you have access to and help you win some time.')

        .dark-split.row
          .first.large-6.columns
            %p.faded
              = _('Sign in or register with')
            = link_to _('AngelList'), oauth2_sign_in_path(:provider => :angel_list), :class => 'button primary'
          .second.large-6.columns
            %p
              = _('Since we are in beta, feel free to report any feedback, we will be happy to read it.')
