= _('Hello again, %s.') % @user.nicename
\
\
= _('Some time ago, you applied to become one of the early adopters of our platform!')
= _('We are excited to announce that %s is now available to you in beta.') % Doers::Config.app_name
\
= _('To start using it, visit %s') % Doers::Config.app_id
\
= _('Thank you for your patience and we are looking forward for your feedback.')
\
\
= _('Your %s team.') % Doers::Config.app_name
= Doers::Config.app_id
