= _('Hello %s.') % @user.nicename
\
\
= _('Your boards were exported successfully.')
\
= _('As requested, we are sending you an archive with your data as JSON and Markdown.')
\
= _('Thank you for the patience.')
\
\
= _('Your %s team.') % Doers::Config.app_name
= Doers::Config.app_id
