= _('Hello from %s.') % Doers::Config.app_name
\
\
= _('%s wants you to join %s.') % [@user.nicename, Doers::Config.app_name]
\
= _('To register, visit %s') % @registration_url
\
= _('Thanks.')
\
\
= _('Your %s team.') % Doers::Config.app_name
= Doers::Config.app_id
