= _('Hello again, %s.') % @project.user.nicename
\
\
= _('Your startup %s, from Angel List, was imported.') % @project.title
\
= _('To start using it, visit %s') % Doers::Config.app_id
\
= _('Thank you for using %s.') % Doers::Config.app_name
\
\
= _('Your %s team.') % Doers::Config.app_name
= Doers::Config.app_id
