= _('Hello again, %s.') % @user.nicename
\
\
= _('Your startup %s, from Angel List, could not be imported.') % @project.title
\
= _('Apparently %s already imported this startup.' % @project.user.nicename)
\
= _('Please get in touch with %s to request access.' % @project.user.nicename)
\
= _('Thank you for using %s.') % Doers::Config.app_name
\
\
= _('Your %s team.') % Doers::Config.app_name
= Doers::Config.app_id
