= _('Hello again, %s.') % @project.user.nicename
\
\
= _('Your startup %s, from Angel List, was imported.') % @project.title
- unless @project.members.empty?
  \
  = _('We also found the startup users from Angel List and added them as collaborators:')
  - @project.members.each do |member|
    = '* %s' % member.nicename
\
= _('To start using it, visit %s') % Doers::Config.app_id
\
= _('Thank you for using %s.') % Doers::Config.app_name
\
\
= _('Your %s team.') % Doers::Config.app_name
= Doers::Config.app_id
