= _('%s, welcome to %s.' % [@user.nicename, Doers::Config.app_name.upcase])
\
\
= _('You applied to become one of the early adopters, thank you!')
= _('We will email you when your account is set up for beta testing.')
\
\
= _('Kindly, your %s team.' % Doers::Config.app_name.upcase)
= Doers::Config.app_id
