.nav
  %a{:href => root_path, :class => 'nav-logo'}
    = Doers::Config.app_name
  .nav-toggle
    %span.icon.icon-arrow-prev
  - if account_signed_in? and current_account.confirmed?
    %ul.nav-list
      %li.nav-list-item.nav-list-item-account
        = avatar_tag(current_user, {:size => 42, :class => 'nav-list-item-account-image'})
        .nav-list-item-account-name
          = current_account.nicename
      %li.nav-list-item
        %a{:href => root_path(:anchor => '/projects'), :class => 'nav-list-item-btn'}
          = _('My projects')
          %span.icon.icon-directory
      %li.nav-list-item
        %a{:href => mine_profiles_path, :class => 'nav-list-item-btn'}
          = _('Account settings')
          %span.icon.icon-settings
      %li.nav-list-item
        %a{:href => sign_out_path, :class => 'nav-list-item-btn'}
          = _('Sign out')
          %span.icon.icon-close