%nav.top-bar{:role => :navigation}
  %a{:href => root_path, :class => 'name'}
    = Doers::Config.app_name
    %span
      = _('by')
      = Doers::Config.app_owner

  %ul.menu
    - if account_signed_in?
      %li
        %a{:href => profile_path(current_account)}
          = gravatar_tag(current_user.email, {:class => 'avatar', :size => 24})
          = current_account.nicename
      - if current_account.confirmed?
        %li
          %a{:href => dashboard_pages_path}
            = _('Your projects')
        %li
          %a#projects-add{:href => root_path(:anchor => 'projects/new')}
            = _('Create new porject')
        - if current_account.admin?
          %li
            %a#boards-add{:href => root_path(:anchor => 'boards/new')}
              = _('Create template board')
        %li
          %a{:href => mine_profiles_path}
            = _('Account settings')
      %li
        %a{:href => sign_out_path}
          = _('Sign out')
    - else
      %li
        %a{:href => sign_in_path}
          = _('Sign in')
