%nav.top-bar{:role => :navigation}

  %a{:href => root_path, :class => 'name'}
    = Doers::Config.app_name
    %span
      = _('by')
      = Doers::Config.app_owner

  %ul
    - if account_signed_in?
      - if current_account.confirmed?
        %li
          %a{:href => dashboard_pages_path}
            = _('Your Startups')
          %ul
            %li
              %a{:href => root_path(:anchor => 'projects/new')}
                = _('Create a new one')
            %li
              %a{:href => root_path(:anchor => 'projects/import')}
                = _('Import from Angel List')
      %li
        %a{:href => mine_profiles_path}
          = gravatar_tag(current_user.email, {:class => 'avatar', :size => 24})
          = _('Hello,')
          = current_user.name
        %ul
          %li
            %a{:href => sign_out_path}
              = _('Sign out')
    - else
      %li
        %a{:href => sign_in_path}
          = _('Sign In')
