.header
  .header-root
    = _('Thank you for applying')

.content-wrap

  .page
    %h1
      = _("You're on the waiting list!")
    %p
      = _('To make sure we make the most of this beta testing phase, it might <br /> take a while for us to to get back to you.')
      = _('We appreciate your patience. We <br /> will email you as soon as we are able to grant you access on Doers.')
    %p
      = _('We are looking to have a diverse group of beta customers.')
      = _('So in <br /> order to facilitate for us the process, <strong>please choose your status below:</strong>')

    = form_for(current_account, :url => waiting_pages_path) do |f|
      %p
        = f.select :interest, User::INTERESTS
      %p
        = f.check_box :newsletter_allowed?
        = f.label :newsletter_allowed, _('Please email me news sometimes.')
      = f.button :class => 'button' do
        %span.icon.icon-checkmark
        = _('Save')
