%p.activity-title
  %strong
    = activity.user_name
  = _('removed endorsement from')
  %strong
    = activity.card_title
  = _('suggestion from')
  = @topic_link
  = _('topic on')
  = @board_link
  = _('board.')
