%p.activity-title
  %strong
    = activity.user_name
  = _('marked aligned')
  = link_to activity.topic_title, root_url(:anchor => '/topic/%d' % activity.topic.id)
  = _('topic on')
  = link_to activity.board_title, root_url(:anchor => '/topic/%d' % activity.board.id)
  = _('board.')
