%h2
  = _('%s did the following board and topic changes in') % @usernames
  = succeed '.' do
    = link_to @project.title, root_url(:anchor => '/projects/%d' % @project.id)

- @activities.each do |act|
  .activity
    %p.activity-date
      = l(act.created_at, :format => :short)
    = render(:partial => act.slug.underscore, :locals => {:activity => act})
