= _('Hi %s,') % @user.nicename
\
\
= _('%s did the following changes to topic suggestions and alignments in %s:') % [@usernames, @project.title]
\
- @activities.each do |act|
  - render(:partial => 'topic_n_board_links', :locals => {:activity => act})
  - if slug_match = act.slug.match(/(create|update|destroy)-card/)
    - slug = slug_match[0]
  - else
    - slug = act.slug
  = precede ' * ' do
    = render(:partial => slug.underscore, :locals => {:activity => act})
\
\
= _('Manage notifications:')
= profile_notifications_url(:mine)
\
= _('Thanks.')
= _('Your %s team.') % Doers::Config.app_name
