!!! 5
%html
  %head
    %title
      = Doers::Config.app_name
    %meta{ :charset => 'utf-8' }
    = stylesheet_link_tag 'mail'

  %body
    %h1
      = _('Hi %s,') % @user.nicename
    = yield
    .footer
      %p
        = link_to _('Manage notifications'), profile_notifications_url(:mine)
      %p
        = _('Thanks.')
        %br/
        = _('Your')
        = link_to Doers::Config.app_name, root_url
        = _('team.')
